@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #201F1F;
}

/* .navbg {
  background: linear-gradient(266deg, #dbdbdbbf 16.02%, #fff 107.42%);
  box-shadow: 13px 12px 23px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
} */

.glowbg {
  border-radius: 32px;
  background: linear-gradient(
    170deg,
    rgb(180 9 236 / 20%) 38.95%,
    rgb(54 9 236 / 20%) 92.27%
  );
  /* background: linear-gradient(170deg, rgb(180 9 236 / 20%) 38.95%, rgba(236, 9, 9, 0.20) 92.27%); */
  /* background: linear-gradient(170deg, rgba(236, 58, 9, 0.20) 38.95%, rgba(236, 9, 9, 0.20) 92.27%); */
  filter: blur(95px);
}

.glowbg2{
  border-radius: 32px;

  background-color: rgba(255, 59, 235, 0.50);

filter: blur(82px);
}
.glowbg3{
  border-radius: 32px;

  background-color: rgba(59, 92, 255, 0.50);

filter: blur(82px);
}

.hamburger {
  cursor: pointer;
}

.hamburger .inputToogle {
  display: none;
}

.hamburger .svgg {
  height: 2.5em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  /* stroke-dasharray: 12 63; */
  stroke-dasharray: 15 80;

}
.hamburger .inputToogle:checked + .svgg {
  transform: rotate(-45deg);
}

.hamburger .inputToogle:checked + .svgg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
